@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto+Mono:wght@300&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  background-color: #ffffff;
  scroll-behavior: smooth;
  scroll-margin: 5em;


}

section{
  height: 100vh;
  width: 100vw;
}
.container{
    display: inline-block;
    height: 100vh;
    margin-left: 20vw;
}

#img-robo{
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 30em;
}

h1{
  text-align: center;
  margin-top:40vh;
  
}

.text{
  font-size:2.5em;
  letter-spacing: 0.5px;
  font-family: monospace;
  border-right: 2.5px solid;
  width: 100%;  
  white-space: nowrap;
  overflow:hidden;
  animation:
    typing 2s steps(41),
    cursor .5s step-end infinite alternate;
}

@keyframes cursor{
  50% { border-color: transparent}
}

@keyframes typing{
  from { width:0}
}

.titulo-h2{
  padding:2em;
  justify-content: space-around;
  text-align: center;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:#dfb8dd;
  align-items: center;
  

}

.portas:hover{
  font-weight: bold;
  transition-duration:100ms;
  
}

.portas{
  transition-duration:100ms;

}

.micro:hover{
  font-weight: bold;
  transition-duration:100ms;

}

.micro{
  transition-duration:100ms;
}

.sensores{  
  transition-duration:100ms;
}

.sensores:hover{
  font-weight: bold;
  transition-duration:100ms;
}

.robotica:hover{
  font-weight: bold;
  transition-duration:100ms;
}

.robotica{
  transition-duration:100ms;
}

a {
  color: blue;
  text-decoration: none;
  background-color: #dfb8dd;
}
a:link{
  color:black;
}
a:visited{
  color:black;
}

/* conteúdo das portas*/

.conteudo-portas-logicas{
  width:100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

}

.icone-inicio img{
  background-color: #dfb8dd ;
  transition-duration: 200ms;
}

.icone-inicio{
  transition-duration: 200ms;
}
.icone-inicio:hover{
  transform: scale(1.04);
  transition-duration: 200ms;
}

.row{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;

}

.conteudo-row{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  

}

.textos-conteudos{
  text-align: center;
  justify-content: space-around;
  gap:2em;
}

.imagem-portas{
  width:15vw;
  align-items: center;
  display: flex;
  flex-direction: column;

}

.texto-semaforo{
  width:20vw;
}

video{
  border-radius: 12px;
}

.videos-micro {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin:1em;
}

.textinhos{
  justify-content:justify;
  margin-left:2em;
  margin-right:2em;
}

h3{
  margin:1em;
}