@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto+Mono:wght@300&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  background-color: #f8f8f8;
  scroll-behavior: smooth;
  scroll-margin: 5em;


}

.container{
    display: inline-block;
    height: 100vh;
    margin-left: 20vw;
}

#img-robo{
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 30em;
}

h1{
  text-align: center;
  margin-top:40vh;
  
}

.text{
  font-size:2.5em;
  letter-spacing: 0.5px;
  font-family: monospace;
  border-right: 2.5px solid;
  width: 100%;  
  white-space: nowrap;
  overflow:hidden;
  animation:
    typing 2s steps(41),
    cursor .5s step-end infinite alternate;
}

@keyframes cursor{
  50% { border-color: transparent}
}

@keyframes typing{
  from { width:0}
}

.titulo-h2{
  padding:2em;
  justify-content: space-around;
  text-align: center;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:#dfb8dd;

}

.portas:hover{
  font-weight: bold;
  transition-duration:100ms;
  
}

.portas{
  transition-duration:100ms;

}

.micro:hover{
  font-weight: bold;
  transition-duration:100ms;

}

.micro{
  transition-duration:100ms;
}

.sensores{  
  transition-duration:100ms;
}

.sensores:hover{
  font-weight: bold;
  transition-duration:100ms;
}

.robotica:hover{
  font-weight: bold;
  transition-duration:100ms;
}

.robotica{
  transition-duration:100ms;
}

a {
  color: blue;
  text-decoration: none;
  background-color: #dfb8dd;
}
a:link{
  color:black;
}
a:visited{
  color:black;
}

/* conteúdo das portas*/

.conteudo-portas-logicas{
  width:100vw;
  height: 100vh;
}


