@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto+Mono:wght@300&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  scroll-behavior: smooth;
  scroll-margin: 5em;


}

.container{
    display: inline-block;
    margin-left: 25vw;
}

#img-robo{
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 30em;
}

h1{
  text-align: center;
  margin-top:40vh;
  
}

.text{
  font-size:2.5em;
  letter-spacing: 0.5px;
  font-family: monospace;
  border-right: 2.5px solid;
  width: 100%;  
  white-space: nowrap;
  overflow:hidden;
  animation:
    typing 2s steps(41),
    cursor .5s step-end infinite alternate;
}

@keyframes cursor{
  50% { border-color: transparent}
}

@keyframes typing{
  from { width:0}
}

.titulo-h2{
  justify-content: space-around;
  text-align: center;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #87A6DA;
  align-items: center;
  z-index:1;
  
}

.comandos:hover{
  font-weight: bold;
  transition-duration:100ms;
  
}

.comandos{
  transition-duration:100ms;

}

.normalizacao:hover{
  font-weight: bold;
  transition-duration:100ms;

}

.normalizacao{
  transition-duration:100ms;
}

.criacao{  
  transition-duration:100ms;
}

.criacao:hover{
  font-weight: bold;
  transition-duration:100ms;
}

.agencia{
    transition-duration:100ms;
  }

.agencia:hover{
  font-weight: bold;
  transition-duration:100ms;
}


a {
  color: blue;
  text-decoration: none;
  background-color: #87A6DA;
}
a:link{
  color:black;
}
a:visited{
  color:black;
}

.icone-inicio img{
  background-color: #87A6DA ;
  transition-duration: 200ms;
}

.icone-inicio{
  transition-duration: 200ms;
}

.icone-inicio:hover{
  transform: scale(1.04);
  transition-duration: 200ms;
}

.conteudo-row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin:1em;
    gap:2em;
  
  }
  
  .conteudo-column{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    padding:1em;
  }

.textos-conteudos{
  text-align: center;
  justify-content: space-around;
  gap:2em;
}


video{
  border-radius: 12px;
}

#img-banco{
    width:30vw;
    bottom:0;
    margin-left: 2em;
    margin-top: 1.5em;  
}

section{
  width: 100vw;
  height:100vh;
}

h3{
  margin:1em;
}

#ddl{
  width: 100vw;
  height:30vh;
}

.card {
  color: #1b1b1b;
  width: 20em;
  height: 10em;
  position: relative;
  border-radius: 8px;
  padding: 16px;
  outline: 6px solid #edededcc;
  background-blend-mode: multiply;
  background: linear-gradient(to top, #5a94c5,  #86bdea);
  transition: background-color 2s ease-in-out;
  overflow: hidden;
  z-index: 0;
  margin: 1em;
}

.card-front {
  position: absolute;
  width: 100%;
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  left:3em;
}

.card-back {
  transform: translateX(120%);
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  font-size: 0.9rem;
}

/*Text*/
.title {
  font-size: 1.3rem;
  font-weight: bold;
}
.subtitle{
  font-size: 0.8rem;


}
/*Hover*/

.card:hover .card-front {
  transform: translateX(-100%);
}

.card:hover .card-back {
  transform: translateX(0);
}
