@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto+Mono:wght@300&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  background-color: #ffffff;
  scroll-behavior: smooth;
  scroll-margin: 5em;


}

.container{
    display: inline-block;
    margin-left: 25vw;
}

#img-robo{
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 30em;
}

h1{
  text-align: center;
  margin-top:40vh;
  
}

.text{
  font-size:2.5em;
  letter-spacing: 0.5px;
  font-family: monospace;
  border-right: 2.5px solid;
  width: 100%;  
  white-space: nowrap;
  overflow:hidden;
  animation:
    typing 2s steps(40),
    cursor .5s step-end infinite alternate;
}

@keyframes cursor{
  50% { border-color: transparent}
}

@keyframes typing{
  from { width:0}
}

.titulo-h2{
  justify-content: space-around;
  text-align: center;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:  #64ABC4;
  align-items: center;
  

}

.estatistica:hover{
  font-weight: bold;
  transition-duration:100ms;
  
}

.estatistica{
  transition-duration:100ms;

}

.amostragem:hover{
  font-weight: bold;
  transition-duration:100ms;

}

.amostragem{
  transition-duration:100ms;
}

.grafico{  
  transition-duration:100ms;
}

.grafico:hover{
  font-weight: bold;
  transition-duration:100ms;
}

.calculo{
    transition-duration:100ms;
  }

.calculo:hover{
  font-weight: bold;
  transition-duration:100ms;
}


a {
  color: blue;
  text-decoration: none;
  background-color: #64ABC4;    
}
a:link{
  color:black;
}
a:visited{
  color:black;
}


#home{
  background-color: #64ABC4;
  transition-duration: 200ms;
}

#home{
  transition-duration: 200ms;
}

#home:hover{
  transform: scale(1.04);
  transition-duration: 200ms;
}

.conteudo-row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: justify;
    margin:2em;
    gap:3em;
  
  }

  .conteudo-column{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    padding:1em;
  }


.textos-conteudos{
  text-align: center;
  justify-content: space-around;
  gap:2em;
  display: flex;
  flex-direction: column;
 
}

video{
  border-radius: 12px;
}

#img-ciencia{
    width:30vw;
    bottom:0;
    margin-left: 2em; 
}

section{
    height: 95vh;
    width: 98vw;
}

#home{
  background-color: #64ABC4;
}

.conteudo-row-amostra{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top:0;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  gap:2em;
  height: 85vh;
}

.amostra{
  border-radius: 12px;
}

.h3-espaçado-direita{
  margin-right:2em;
  background-color: #98c6d7;
  padding:1.5em;
  border-radius: 12px;
}

.teste-hipotese{
  width: 40vw;
  justify-content: space-around;
}

.conteudo-desvio-padrao{
  text-align: center;
}

.inferencia-img{
  align-items: center;
  justify-content: space-around;
}

.card {
  position: relative;
  width: 16em;
  height: 4.5em;
  background: rgb(255, 255, 255);
  background-color: #98c6d7;  
  transition: .4s ease-in-out;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  overflow: hidden;
  margin:1em;
}

.titulo-card{
  position: relative;
  color: black;
  background-color: #98c6d7;
  font-size: 1.1em;
  padding-top: 1em;
  text-align: center;
  z-index:0;
}

.texto-inicial{
  position: relative;
  color: black;
  background-color:  #98c6d7;
  font-weight: 500;
  font-size: 0.5em;
  padding-top: 1.5em;
  padding:1em;
  transition: .4s ease-in-out;
  text-align: center;
  
}

.card:hover {
  width: 17em;
  height: 21.7em;
  transform: translateY(1.15em);

}

.card:hover .texto-inicial{
  opacity:0;
}

.texto-explicacao{
  color: black;
  text-align:center;
  display:flex;
  flex-direction:column;
  margin:0.5em;  
  background-color: #98c6d7;
  font-size: 0.8em;
}


.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tendencia:hover{
  font-weight: bold;
}

.quartil:hover{
  font-weight: bold;
}

.amplitude:hover{
  font-weight: bold;
}

.variancia:hover{
  font-weight: bold;
}

.desvio:hover{
  font-weight: bold;
}

.teste:hover{
  font-weight: bold;
}

.distribuicao:hover{
  font-weight: bold;
}

.calculo:hover{
  font-weight: bold;
}